<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Оптимальный раскрой</title>
  </head>
  <body>
    <h1>Раскрой линейных материалов</h1>
    <p>
        На сайте можно рассчитать раскрой линейных материалов с минимальными отходами и
        равномерным распределением использования исходных заготовок.
    </p>
    <form id="algorithm-form">
        <table class="stock">
            <caption class="stock-caption">Исходные материалы</caption>
            <thead>
                <tr>
                    <th>Длина (м)</th>
                    <th>Количество (шт)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" value="2" placeholder="Введите длину" step="any" name="stock_len1"></td>
                    <td><input type="number" value="100" placeholder="Введите количество" name="stock_qty1"></td>
                    <td><button class="delete-stock-row" type="button">✕</button></td>
                </tr>
                <tr>
                    <td><input type="number" value="2.5" placeholder="Введите длину" step="any" name="stock_len2"></td>
                    <td><input type="number" value="100" placeholder="Введите количество" name="stock_qty2"></td>
                    <td><button class="delete-stock-row" type="button">✕</button></td>
                </tr>
                <tr>
                    <td><input type="number" value="3" placeholder="Введите длину" step="any" name="stock_len3"></td>
                    <td><input type="number" value="100" placeholder="Введите количество" name="stock_qty3"></td>
                    <td><button class="delete-stock-row" type="button">✕</button></td>
                </tr>
            </tbody>
        </table>

        <div class="stock-button-group">
            <button class="add-stock" type="button">Добавить заготовку</button>
            <button class="remove-stock" type="button">Очистить</button>
        </div>

        <table class="demand">
            <caption class="demand-caption">Отрезки</caption>
            <thead>
                <tr>
                    <th>Длина (м)</th>
                    <th>Количество (шт)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="number" placeholder="Введите длину" step="any" name="demand_len1"></td>
                    <td><input type="number" placeholder="Введите количество" name="demand_qty1"></td>
                    <td><button class="delete-demand-row" type="button">✕</button></td>
                </tr>
            </tbody>
        </table>

        <div class="demand-button-group">
            <button class="add-demand" type="button">Добавить отрезок</button>
            <button class="remove-demand" type="button">Очистить</button>
        </div>

        <button type="submit" id="algorithm-button">Выполнить раскрой</button>
    </form>

    <p id="result" style="white-space: pre-wrap;"></p>

    <script src="../static/js/script.js"></script>
  </body>
</html>
